<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>

    <link rel="stylesheet" th:href="@{/css/board.css}">

    <style>
        .nbsp {
            padding-left: 5px;
        }
    </style>
</head>
<body>
<!-- header 추가 -->
<div th:insert="common/header.html" id="header"></div>

<div id="wrap">
    <div class="table">
        <a th:href="@{/post}">글쓰기</a>

        <form action="/board/search" method="GET">
            <div class="search">
                <input name="keyword" type="text" placeholder="검색어를 입력해주세요">
            </div>

            <button>검색하기</button>
        </form>
        <table>
            <thead>
            <tr>
                <th class="one wide">번호</th>
                <th class="ten wide">글제목</th>
                <th class="two wide">작성자</th>
                <th class="three wide">작성일</th>
            </tr>
            </thead>

            <tbody>
            <!-- CONTENTS !-->
            <tr th:each="board : ${boardList}">
                <td>
                    <span th:text="${board.id}"></span>
                </td>
                <td class="title" th:if="${board.indent == 0}">
                    <a th:href="@{'/post/' + ${board.id}}">
                        <span th:text="${board.title}"></span>
                    </a>
                </td>
                <td class="title" th:if="${board.indent > 0}">
                    <a th:href="@{'/post/' + ${board.id}}">
                    <span th:style="${'padding-left:' + (board.indent * 20) + 'px'}"
                          th:text="'↳  ' + ${board.title}"></span>
                    </a>
                </td>
                <td>
                    <span th:text="${board.writer}"></span>
                </td>
                <td>
                    <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <a th:href="@{'/?page=1'}"><<</a>
            <span th:each="pageNum : ${pageList}" th:inline="text">
                <a th:href="@{'/?page=' + ${pageNum}}">[[${pageNum}]]</a>
            </span>
            <a th:href="@{'/?page=' + ${pageList.length}}">>></a>
        </div>
    </div>
</div>

<!-- footer 추가 -->
<div th:insert="common/footer.html" id="footer"></div>
</body>
</html>