table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

header {
    background-color: beige;
    padding: 3%;
}

footer {
    background-color: beige;
    padding: 1%;
    text-align: center;
}

#wrap {
    padding: 10% 0%;
}


#wrap > * {
    margin: 0 auto;
}

#wrap table * {
    border-color: #e1e1e1;
}

#wrap table {
    width: 700px;
}

.search {
    display: inline;
}

a {
    text-decoration: none;
}

.table {
    text-align: center;
}

.table table {
    margin: 30px auto;
}

.table tr {
    height: 40px;
}

.title {
    text-align: left;
    padding-left: 20px;
}

.form {
    border: solid 1px;
    border-radius: 30px;
    border-color: #e1e1e1;
    margin: 300px auto;
    width: 700px;
}

.form form {
    text-align: center;
}

.form form > * {
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    border-color: #e1e1e1;
}

.form textarea {
    width: 500px;
    height: 300px;
}

.detail * {
    text-align: center;
}

.detail p:nth-child(3) {
    width: 500px;
    border: solid 1px;
    border-radius: 10px;
    min-height: 500px;
    margin: 30px auto;
    text-align: left;
    padding: 15px;

}